<h1 class="display-4">Phonebook</h1>
<p class="mb-4">Please Enter your Contact details..</p>

<a href="/Contact/list" class="btn btn-light">View Contacts</a>
<a href="/Contact/add" class="btn btn-light">Add Contact</a>
